{%extends 'base.html'%}

{%block title%}{{user.first_name}}{%endblock%}

{%block content%}
<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src={{user.image_url}} alt="Not working">

<button><a href="/users/{{user.id}}/edit">Edit User</a></button>
<button><a href="/users/{{user.id}}/delete">Delete</a></button>

<button><a href="/users" class="">Go Back to User List</a></button>

<h2>Posts</h2>
<ul>
    {%for post in posts%}
    <li><a href="/posts/{{post.id}}" class="">{{post.title}}</a></li>
    {%endfor%}
</ul>
<button><a href="/users/{{user.id}}/posts/new" class="">Create New Post</a></button>
{%endblock%}